#lebronbody {
  display: grid;
  place-items: center;
  background: antiquewhite;
  font-family: cursive;
  margin: 20px;
}
.lebroncontainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  text-align: center;
  max-width: 800px;
  width: 100%;
}
#h1L {
  font-weight: bold;
  font-size: 40px;
}
#Lebronjames {
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.lebronsection {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  background: #fff3e3;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.lebronjamesimg {
  max-width: 100%;
  height: auto;
  border: 3px solid black;
  border-radius: 10px;
}
.lebronsectionmore a {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

.pdiv {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.phead{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pdi {
    border: solid black 5px;
    border-radius: 15px;
    background-color: aliceblue;  
    text-align: center;
    padding: 3px;
    margin: 20px; 
    
}

.indexbody {
    background-color: gray;
    font-family: 'Poppins', sans-serif;
}

.pdesc{
    margin: 10px;
    text-align: center;
    text-decoration: bold;
}
.pimg {
    margin: 10px;
    border: solid black 5px;
    border-radius: 45px;
}
.podimgs {
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    border: 4px solid black;
}

.podbody {
    text-align: center;
    font-family: cursive;
    background-color:bisque;
}

.podtext {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    margin-bottom: 3%;
}

@media screen and (max-width: 1080px) {
    .pdiv {
      flex-direction: column;
      align-items: center;
    }
  }

  .navbar {
    display: flex;
    justify-content: center;
    background: darkgray;
    padding: 3px;
    margin: 0px;
  }
  
  .navbar a{
    color: white;
    padding: 10px;
    text-decoration: none;
  }
  
  .navbar a:hover{
    background: grey;
  }

  .pimg img{
    border-radius: 40px;
  }